#!/bin/bash
# Unlocking vault
key1="wSj6lVq7ZGu0Qc2amENe5REWfe0HQ6bAO4gDO0KsRe2y"
key2="eGHyH8D38m+YCxLx0bsdF1drVZc9Edsiq+PHAS5dHvIK"
key3="qo+iQFAR2JpyBle8KWFK8/XvrAKnKjiiRadVttlY9bVt"
key4="HPhY6mM+HKfhYlC3B+cAv5NYzbwfoPQy1MVn2J7PRA7b"
key5="gr82VlAbsZuNLnFi4nZpik5e+V6p511d4n55o3rOvJ1G"
init_token="8hitYkS1IY2ohRH9koOv7zTt"
VAULT_SKIP_VERIFY=1
VAULT_ADDR="https://{{ groups['vault'][0] }}:8200"
VAULT_TOKEN=8hitYkS1IY2ohRH9koOv7zTt
export VAULT_SKIP_VERIFY VAULT_ADDR VAULT_TOKEN
touch test
for vkey in $key1 $key2 $key3
do
  eval curl -kX PUT -d \'{\"key\": \"$vkey\"}\' https://vault.localdomain:8200/v1/sys/unseal
done
